@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Quicksand:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body {
    font-family:'Hanalei+Fill',sans-serif;
    background-color: #f0f0f0;
    background-image: url(https://r4.wallpaperflare.com/wallpaper/204/67/597/technics-design-technology-wallpaper-4970b8fda14acd6b5687d83f802146dd.jpg);
    margin: 0;
    padding: 0;
}
.txt{
    color:#C0392B ;
}

.container {
    max-width: 400px;
    margin:  150px auto ;
    background-color: transparent;
    border:5px dashed grey ;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Input and Button styles */
p {
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px dashed #C0392B ;
    border-radius: 5px;
    margin:auto;
}

button {
    background-color:#34495E ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0071ff;
}


#imgBox {
    margin-top: 20px;

}

#qrImage {
    max-width: 100%;
    
}


.signature {
    font-size: 14px;
    color: #888;
    margin-top: 30px;
    text-align: center;
}
.kk{
    width: 100px;
    margin: auto;
    
}




